<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServico01" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57247/Servico01.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServico01" contract="ServiceRefWCF1.IServico01"
                name="BasicHttpBinding_IServico01" />
        </client>
    </system.serviceModel>
</configuration>