@model LojaNet.Models.Produto

@{
    ViewBag.Title = "Detalhes";
}

<h2>Dados do Produto</h2>

<dl>
    <dt>Nome:</dt>
    <dd>@Model.Nome</dd>
    <dt>Preco:</dt>
    <dd>@Model.Preco</dd>
    <dt>Estoque:</dt>
    <dd>@Model.Estoque</dd>
</dl>
<div>
    <a href="/Produto/Index" class="btn btn-default">Voltar</a>
    <a href="/Produto/Alterar/@Model.Id" class="btn btn-default">Alterar</a>
    <a href="/Produto/Excluir/@Model.Id" class="btn btn-default">Excluir</a>
</div>