@model LojaNet.Models.Produto

@{
    ViewBag.Title = "Incluir";
}

<h2>Incluir</h2>

<form method="post" class="form-horizontal">
    @Html.ValidationSummary(null, new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label" for="Nome">Nome:</label>
        <input class="form-control" type="text" name="Nome" value="@Model.Nome" />@*Para tomar conta da linha interia*@
    </div>
    <div class="form-group">
        <label class="control-label" for="Telefone">Preco:</label>
        <input class="form-control" type="text" name="Telefone" value="@Model.Preco" />
    </div>
    <div class="form-group">

        <label class="control-label" for="Email">Estoque:</label>
        <input class="form-control" type="text" name="Email" value="@Model.Estoque" />
    </div>
    <div class="form-group">
        <input class="btn btn-default" type="submit" value="Gravar" />
    </div>

</form>